<!-- <h2 class="title">Your Bookings</h2> -->

<div class="page-wrapper">
<div class="cards">
  <div class="card" *ngFor="let booking of bookings">


    <div class="pnr">
      {{ booking.pnr }}
    </div>

    <div class="route">
      {{ booking.source }} → {{ booking.destination }}
    </div>

    <div class="datetime">
      {{ booking.bookingDateTime.split('T')[0] }}
      •
      {{ booking.bookingDateTime.split('T')[1].substring(0,5) }}
    </div>

    <div class="info">
      <div>
        <small>Amount</small>
        <p>₹{{ booking.totalAmount }}</p>
      </div>

      <div>
        <small>Status</small>
        <p 
          class="status" [class.booked]="booking.status === 'BOOKED'"
          [class.cancelled]="booking.status === 'CANCELLED'"
        >
          {{ booking.status }}
        </p>
      </div>
    </div>

    <button
      class="cancel"
      (click)="cancelBooking(booking.pnr)"
      [disabled]="booking.status === 'CANCELLED'"
    >
      Cancel
    </button>

  </div>
</div>
</div>
