<app-toast #toast></app-toast>
<div class="container">
  <h2>Add Flight Inventory</h2>

  <form (ngSubmit)="submit()" #f="ngForm">

    <label>Airline Name</label>
    <input type="text" name="airlineName" [(ngModel)]="flight.airlineName" required />

    
    <div class="row">
        <div class="col">
            <label>Source</label>
            <input type="text" name="source" [(ngModel)]="flight.source" (focus)="showFromList=true"
       (blur)="hideFrom()" #source="ngModel" required />
            <ul *ngIf="showFromList">
            <li *ngFor="let source of sources" (mousedown)="selectFrom(source)">
              {{source}}
            </li>
          </ul>
        </div>

        <div class="col">
            <label>Destination</label>
            <input type="text" name="destination" [(ngModel)]="flight.destination" (focus)="showToList=true"
       (blur)="hideTo()" #destination="ngModel" required />
                          <ul *ngIf="showToList">
            <li *ngFor="let destination of destinations" (mousedown)="selectTo(destination)">
              {{destination}}
            </li>
          </ul>
        </div>    
    </div>
            <div class="error" *ngIf="source.touched && destination.touched && flight.source===flight.destination">
            Source and destination cannot be same

        </div>

    <div class="row">
        <div class="col">
               <label>Departure Date & Time</label>
            <input type="datetime-local" name="departureDateTime" [(ngModel)]="flight.departureDateTime" #dep="ngModel" 
            [min]="minDateTime" required />
        </div>

        <div class="col">
            <label>Arrival Date & Time</label>
            <input type="datetime-local" name="arrivalDateTime" [(ngModel)]="flight.arrivalDateTime" [min]="minDateTime" #arr="ngModel"
             required />
        </div>
    </div>

    <div class="error" *ngIf="dep.touched && arr.touched && flight.arrivalDateTime<=flight.departureDateTime">
       Arrival time must be after departure time 
    </div>


    <div class="row">
        <div class="col">
            <label>Total Seats</label>
            <input type="number" name="totalSeats" [(ngModel)]="flight.totalSeats" required />
        </div>

        <div class="col">
            <label>Price</label>
            <input type="number" name="price" [(ngModel)]="flight.price" required />
        </div>
    </div>
   

    <label>Trip Type</label>
    <select name="tripType" [(ngModel)]="flight.tripType" required>
      <option value="ONE_WAY">ONE WAY</option>
      <option value="ROUND_TRIP">ROUND TRIP</option>
    </select>

    <button type="submit" [disabled]="f.invalid">Add Flight</button>



  </form>
</div>
