<nav class="navbar">

    <div class="logo">
        <img src="assets/svg_11513721.png" alt="App logo">
        <h2>Flight Booking System</h2>
    </div>
    


    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/bookings-history">Bookings</a></li>
        <li *ngIf="!isLoggedIn()"><a  routerLink="/login">Login</a><li>
        <li *ngIf="isLoggedIn()" class="logout"><a  (click)="logout()">LogOut</a><li>
   
        <img src="assets/person_11081570.png" alt="Profile" class="profile-icon" routerLink="/profile"
    />

    </ul>
</nav>
