.signup-container {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.signup-container label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.signup-container input,
.signup-container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #1976d2;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 4px;
    font-size: 16px;
}

.signup-container button:hover {
    background-color: #125aa0;
}

hr {
    margin: 20px 0;
    border: 0.5px solid #ccc;
}
