<app-toast #toast></app-toast>
<!-- Carousel -->
<!-- <div class="carousel">

  <div
    class="slides"
    [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
  >
    <img src="assets/flight1.jpg" alt="Travel the world">
    <img src="assets/flight2.jpg" alt="Explore destinations">
    <img src="assets/flight3.jpg" alt="Book flights easily">
  </div> -->

  <!-- Text stays FIXED -->
  <!-- <div class="carousel-text">
    <h1>Fly Smarter with FlyHigh</h1>
    <p>Search, book, and manage flights effortlessly</p>
  </div>

</div> -->


<div class="search-card">

      <!-- Trip Type -->
      <!-- <div class="trip-type">
          <input type="radio" id="oneway" name="triptype" value="One Way" [(ngModel)]="tripType">
          <label for="oneway">One Way</label>

          <input type="radio" id="roundtrip" name="triptype" value="Round Trip" [(ngModel)]="tripType">
          <label for="roundtrip">Round Trip</label>
      </div> -->

      <!-- FRom/To -->
       <div class="place">
        <div class="field">
          <input type="text" placeholder="From" [(ngModel)]="from" (focus)="showFromList=true" (blur)="hideFrom()">
          <ul *ngIf="showFromList">
            <li *ngFor="let source of sources" (mousedown)="selectFrom(source)">
              {{source}}
            </li>
          </ul>
        </div>

        <div class="field">
          <input type="text" placeholder="To" [(ngModel)]="to" (focus)="showToList=true" (blur)="hideTo()"/>
              <ul *ngIf="showToList">
            <li *ngFor="let destination of destinations" (mousedown)="selectTo(destination)">
              {{destination}}
            </li>
          </ul>
        </div>

       </div>


    <!-- DATES -->
   <div class="date-row">
      <div class="date-box" (click)="depInput.showPicker()">
        <div class="date-left">
              <span class="label">Departure date</span>
            <span class="value">{{ date ? convertToDisplay(date) : 'dd-mm-yyyy' }}</span>
        </div>

        <span class="arrow">▼</span>
        <input type="date" #depInput [(ngModel)]="date" [min]="today"  class="real-date-input" />
      </div>

  

  <!-- SEARCH -->
  <button class="search-btn" (click)="searchFlights()">
    Search Flights
  </button>

    </div>
