<div class="profile-container">

  <h2>Edit Profile</h2>

  <form #f="ngForm" (ngSubmit)="changePassword()">

    <label>Old Password</label>
    <input
      type="password"
      name="oldPassword"
      [(ngModel)]="password.old"
      required
    />

    <label>New Password</label>
    <input
      type="password"
      name="newPassword"
      [(ngModel)]="password.new"
      minlength="6"
      required
    />

    <label>Confirm New Password</label>
    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="password.confirm"
      required
    />

    <p class="error" *ngIf="password.new !== password.confirm && f.submitted">
      Passwords do not match
    </p>

    <button
      type="submit"
      [disabled]="f.invalid || password.new !== password.confirm"
    >
      Update Password
    </button>

  </form>

</div>
