<app-toast #toast></app-toast>
<div class="profile-container">

  <h2>Edit Profile</h2>

  <form #f="ngForm" (ngSubmit)="changePassword()">

    <label>Old Password</label>
    <input
      type="password"
      name="oldPassword"
      [(ngModel)]="password.old"
      required
       #oldPwd="ngModel"
    />
    <p class="error" *ngIf="oldPwd.invalid && oldPwd.touched">
    Old password is required
  </p>


    <label>New Password</label>
    <input
      type="password"
      name="newPassword"
      [(ngModel)]="password.new"
      minlength="6"
      required
       pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z0-9!@#$%^&*]{6,}$"
      #newPwd="ngModel"
    />

    <p class="error" *ngIf="newPwd.errors?.['pattern'] && newPwd.touched">
  Password must contain at least one number and one special character
</p>
    <p class="error" *ngIf="newPwd.errors?.['minlength'] && newPwd.touched">
  Password must be at least 6 characters
</p>


    <label>Confirm New Password</label>
    <input
      type="password"
      name="confirmPassword"
      [(ngModel)]="password.confirm"
      required
      #confirmPwd="ngModel"
    />

  <p class="error"
    *ngIf="password.new !== password.confirm && confirmPwd.touched">
    Passwords do not match
  </p>


    <button
      type="submit"
      [disabled]="f.invalid || password.new !== password.confirm"
    >
      Update Password
    </button>

  </form>

</div>
