<app-toast #toast></app-toast>
<form #f="ngForm" class="signin-container" >

  <h2>Login</h2>

  <!-- USERNAME -->
  <label>Username</label>
  <input
    type="text"
    name="username"
    [(ngModel)]="username"
    #usernameRef="ngModel"
    required
    minlength="3"
  />

  <small class="error"
    *ngIf="usernameRef.invalid && (usernameRef.touched || f.submitted)">
    <span *ngIf="usernameRef.errors?.['required']">
      Username is required
    </span>
    <span *ngIf="usernameRef.errors?.['minlength']">
      Minimum 3 characters required
    </span>
  </small>
<br><br>

  <!-- PASSWORD -->
  <label>Password</label>
  <input
    type="password"
    name="password"
    [(ngModel)]="password"
    #passwordRef="ngModel"
    required
    minlength="6"
  />

  <small class="error"
    *ngIf="passwordRef.invalid && (passwordRef.touched || f.submitted)">
    <span *ngIf="passwordRef.errors?.['required']">
      Password is required
    </span>
    <span *ngIf="passwordRef.errors?.['minlength']">
      Minimum 6 characters required
    </span>
  </small>

  <button type="button" (click)="onSignin(f)">Login</button>

</form>
