.signin-container{
    width:400px;
    margin:50px auto;
    border:1px solid #ccc;
    padding:20px;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0);
}

.signin-container h2{
    text-align: center;
  
}

.signin-container label{
    /* display:block; */
    font-weight: bold;
    margin-top:10px;
}

.signin-container input,
.signin-container select{
    width:100%;
    padding:8px;
    margin-top:5px;
    box-sizing: border-box;

}

.signin-container button{
    width:100%;
    padding:8px;
    color:white;
    background-color: #1976d2;
    border:none;
    cursor:pointer;
    margin-top:30px;
    border-radius:4px;
}

.signin-container button:hover{
    background-color: #125aa0;
}
.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

