.search-card {
  background: white;
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.trip-type {
  padding: 10px;
  display:flex;
  gap:20px;

}

.trip-type label{
  cursor:pointer;
  font-weight:bold;
  border-radius:20px;
  border:1px solid #ccc;
  padding:10px 20px;
}

.trip-type input[type="radio"] {
  display:none;
}

.trip-type input[type="radio"]:hover + label{
  background-color: #f5f5f5;
}
.trip-type input[type="radio"]:checked + label{
  background-color: #cac9c9;
}


.trip-type .active {
  background: #1976d2;
  color: white;
  cursor: pointer;
}


.date-row{
  display: flex;
  gap: 20px;
}
.date-left {
  display: flex;
  flex-direction: column;
}


.date-box{
  display: flex;
  justify-content:space-between;
  /* align-items: center; */
  border:1px solid #ccc;
  border-radius:10px;
  padding:12px;
  cursor:pointer;
  width:40%;
  margin:10px 0px;
}
.real-date-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.arrow {
  font-size: 14px;
  color: rgb(95, 93, 93);
}
.date-box:hover{
  background-color: #f5f5f5;
}

.date-box:hover .arrow {
  color: #000;
}

.label {
  font-size: 15px;
  color: rgb(133, 132, 132);
  display: block;
  margin-bottom: 8px;
}


.value {
  font-size: 20px;
  font-weight: 500;
}

.place {
 display:flex;
 gap:20px;
}


.field {
  position: relative;
  flex: 1;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border:1px solid #ccc;
  border-radius:10px;
  padding:10px;
  width:40%;
  margin:10px 0px;
}

.field input {
  width: 100%;
  padding: 10px;
  border:none;

}

.field ul {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  z-index: 10;
}

.field li {
  padding: 8px;
  cursor: pointer;
}

.field input:focus {
  outline: none;
}


.field li:hover {
  background: #f1f1f1;
  border:none;
}

.traveller-dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  width: 220px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  z-index: 30;
}

.traveller-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}

.counter button:hover {
  background: #f5f5f5;
}

.search-btn {
  margin-top: 24px;
  width: 100%;
  padding: 16px;

  background: linear-gradient(90deg, #ff9800, #ffb300);
  color: #000;

  border: none;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
